* {
  background: #c0c5ce;
  font-family: sans-serif;

}

h3{
  font-weight: lighter;
}


p {
  font-family: monospace;
  font-weight: bolder;
}

img {
  width: 280px;
}

.timestamp {
  color: red;
}
